* {
    padding: 0;
    margin: 0px;
    color: white;
}
#navbar {
    height: 50px;
    background-color:black;
    
}
button {
    background-color: orange;
    color:black;
}
#logo{
    color:orange;
    font-size:30px;
}


 
  a{
    margin-right:250px;
    text-decoration: none;
  }